@page "/"
@inherits WebPageBase
@attribute [Authorize]

<MudToolBar Class="my-2">
    <div>
        <MudText Typo="Typo.h5">Dashboard</MudText>
        @if (BreadcrumbItems.Count > 0)
        {
            <MudBreadcrumbs Class="pa-0" MaxItems="4" Items="@BreadcrumbItems"></MudBreadcrumbs>
        }
    </div>
    <MudSpacer/>
</MudToolBar>

<MudContainer MaxWidth="MaxWidth.False" Class="mb-6">

</MudContainer>